.description {
    text-align: center;
  }
  .msg {
    display: flex;
    padding: 20px 10px 0 20px;
    margin: 20px;
    border-radius: 3000px;
    box-shadow: 0 0 10px rgb(164, 164, 164);
    align-items: center;
  }
  .sent {
    background-color: rgb(113, 29, 209);
    color: white;
    border-top-right-radius: 1000px;
    flex-direction: row-reverse;
    padding: 20px;
    text-align: end;
    float: right;
    border: none;
  }
  .received {
    border: none;
    background-color: gray;
    border-top-left-radius: 1000px;
    float: left;
    color: black;
  }
  .msgs {
    margin: 0px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  .sendMsg {
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid lightgray;
    margin-left: -5px;
    padding: 10px;
    padding-bottom: 30px;
    background-color: #fafafa;
    overflow-y: auto;
  }
  @media (max-width: 775px) {
    p {
      font-size: 20px;
    }
    .sent {
      padding: 10px 10px 0 10px;
    }
    .received {
      padding: 10px 10px 0 10px;
    }
  }
  
  @media (max-width: 500px) {
    p {
      font-size: 15px;
    }
    .sent {
      padding: 7px 7px 0 7px;
    }
    .received {
      padding: 7px 7px 0 7px;
    }
  }
  