.messages {
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatname {
    color: rgba(255, 137, 65, 1);
    font-size: small;
}
.msgs {
    margin: 20px 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: solid;
    outline-color: rgba(255, 137, 65, 1);
    box-shadow: 10px 7px  rgb(247, 162, 110);
    
  }

  .sent {
    background-color: #274bee;
    color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    flex-direction: row-reverse;
    padding: 20px 20px 0 10px;
    text-align: end;
    float:right;
  }

  .received {
    border: 1px solid lightgray;
    background-color: #FAFAFA;
    border-top-left-radius: 1px;
    float: left;
  }